@import "compass";
@import "variables";
@import "functions";

@mixin pseudo-menu($width-pseudo-menu-em: 3em, $height-pseudo-menu-em: 1em, $color-menu-bar: #000){
  position: relative;
  $adjusted-height: $height-pseudo-menu-em *0.8;

  &:before{
    content: "";
    position: absolute;
    cursor:pointer;;
    @content;
    width: $width-pseudo-menu-em;
    height: ($adjusted-height *0.25);
    border-top: ($adjusted-height *0.75) double $color-menu-bar;
    border-bottom: ($adjusted-height *0.25) solid $color-menu-bar;
  }
}

@mixin darkened-overlay($bg-color: rgba(0,0,0,0.5)){

  position: relative;
  &:before{
    content: "";
    position: absolute;
    background-color: $bg-color;
    top:0;
    left: 0;
    right:0;
    bottom: 0;
    display: block;
    @content;
  }

  > *{
    position: relative;
  }
}

@mixin darkened-overlay-alternate($bg-color: rgba(0,0,0,0.5)){

  position: relative;
  &:after{
    content: "";
    position: absolute;
    background-color: $bg-color;
    top:0;
    left: 0;
    right:0;
    bottom: 0;
    display: block;
    @content;
  }

  > *{
    position: relative;
  }
}

@mixin centered-block($max-width: auto){
  display: block;
  margin-left: auto;
  margin-right: auto;;
  @if ($max-width != auto){
    max-width: $max-width;
    width: 100%;
  }
}

@mixin centered-spaced-block($margin-vertical: 0, $max-width: 960px){
  display:block;
  margin: $margin-vertical auto;
  max-width: $max-width;
}


@mixin container-v-align-middle($selector: "v-align-content", $valign: middle){
  display: table;
  width: 100%;

  #{$selector}{
    display: table-cell;
    vertical-align: $valign;
  }
}


@mixin image-placeholder($size: cover){
  background-position: center;
  background-repeat: no-repeat;
  background-size: $size;
}